<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "TaiShangNftGallery", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="shortcut icon" type="image/icon" href={Routes.static_path(@conn, "/images/logo_tai_shang.svg")}/>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/bootstrap.min.css")} />
    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/bootstrap.bundle.min.js")}></script>
    <style>
      a:link { 
        text-decoration: none; 
      } 
      a:visited { 
        text-decoration: none; 
      } 
      a:hover { 
        text-decoration: underline; 
      }
    </style>
  </head>
  <body>
    <div style="width: 60%;margin: 0 auto;">

    <header>
      <section class="container">
        <nav>
          <ul>
            <li>
              <a 
                href="https://github.com/WeLightProject/tai_shang_nft_gallery"
              >
                View on Github
              </a>
            </li>
            <li>
              <a 
                href="https://noncegeek.com"
              >
                Know NonceGeek
              </a>

            </li>
            <li>
              <%= if Pow.Plug.current_user(@conn) do %>
                <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
              <% else %>
                <span><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></span>
              <% end %>
            </li>
            <li>
              v1.0.0
            </li>
          </ul>
        </nav>
        <%# <a href="https://phoenixframework.org/" class="phx-logo"> %>
          <img style="max-width: 30%;" src={Routes.static_path(@conn, "/images/logo.svg")} alt="TaiShang Gallery Logo"/>

        <%# </a> %>
         
      </section>
    </header>
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Web3Dev</a>
              </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/map_gen">TaiShangMapGenerator</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>

      <%= @inner_content %>
    </div>
  </body>
</html>
